doctype html
html
    head
        meta(charset='UTF-8')
        title Batman
        link(rel='stylesheet', href='/stylesheets/darknight.css')
    body
        .container
            .batman
                .eye--left
                .eye--right
                .mouth
        .box s